@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Varela+Round&display=swap');
body{
    background-color: 	#414a4c;
}
*{
    margin:0;
    padding: 0;
}
nav{
    font-family: 'Nunito Sans', sans-serif;
}
nav ul{
    display:flex;
    align-items: center;
    list-style-type:  none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
     
}
.brand img{
    width: 60px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3em;
}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    
    
}
.icons{
    margin-top: 18px;
}
.icons i{
    cursor: pointer;
    padding: 10px;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
    

}
.songItemContainer{
    margin-top: 74px;
    
}
.songItem{
    height: 50px;
    display: flex;
    background-color:#414a4c;;
    color: white;
     
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;

}
.timestamp{
    margin: 0 23px;
     
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;

}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
    margin-right: 10px;
}
a{
    color: white;
}
a:hover{
    color: green;
     
}


